/* 공동 */
body{
    font-family: "Jua",sans-serif;
    text-align: center;
}

.container{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 500px;
    margin: 0 auto;
}

a{
    text-decoration: none;
    color: black;
}

hr{
    margin-top: 2em;
}
/* 시계 */
#clock{
    font-size: 3em;
}
/* 안녕하세요 */
.hidden{
    display: none;
}

input[type="text"] {
    height: 32px;
    font-size: 15px;
    border: 0;
    border-radius: 15px;
    outline: none;
    padding-left: 10px;
    background-color: rgb(233,233,233);
    margin-top: 1em;
}

input[type="submit"]{
    border: 0;
    outline: none;
    font-size: 15px;
    background: black;
    color: white;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 10px;
}

/* 투두 */
#todo-container{
    display: flex;
    flex-direction: column;
    width: 300px;
}

#todo-list li{
    margin: 1em 0;
    display: flex;
    justify-content: space-between;
    flex-grow: 10;    
    text-align: left;
}

#delBtn{
    border: 0;
    outline: none;
    font-size: 5px;
    background-color: lightsteeblue;
    color: black;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 10px;
}

