body{
    font-family: "jua",sans-serif;
}

div#pagename {
    display: flex;
    justify-content: space-between;
    margin-left: 10px;
    margin-right: 10px;
}

h1#clock {
    border: 3px solid green;
    border-radius: 15px;
}

a {
    text-decoration: none;
    color: darkolivegreen;
}

form#logIn-Form {
    margin-left: 10px;
}

.hidden{
    display: none;
}
#greeting{
    margin-left: 10px;
    color: darkgreen;
}