body{
    font-family: "Jua",sans-serif;
    text-align: center;
}

#container{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


hr{
    margin-top: 2em;
}

#clock{
    font-size: 3em;
}
/* 안녕하세요 */
.hidden{
    display: none;
}

input[type="text"] {
    height: 32px;
    font-size: 15px;
    border: 0;
    border-radius: 15px;
    outline: none;
    padding-left: 10px;
    background-color: rgb(233,233,233);
    margin-top: 1em;
}

input[type="submit"]{
    border: 0;
    outline: none;
    font-size: 15px;
    background: black;
    color: white;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 10px;
}
